{% extends "base.html" %}
{% block title %}index{% endblock %}
{% block content %}
<div class="row" style="background-color: #efefef; padding: 10px; margin: 10px;border-radius: 10px;">
    <form action="/upload" method="post" enctype="multipart/form-data">
        <div style="margin:5px 0px;">
            <span><b>請選擇要計算的項目</b></span>
            <div id="CheckList">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" value="COP" checked>
                    <label class="form-check-label">COP</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" value="stability">
                    <label class="form-check-label">APSI/MLSI/VSI/DPSI</label>
                </div>
            </div>
        </div>
        <div>
            <label for="weight" class="form-label"><b>請輸入受試者體重(kg) <span style="color:red">若上傳多個檔案，皆會以輸入的體重做計算</span></b></label>
            <input class="form-control" type="number" min="1" id="weight">
        </div>
        <div class="col-3 mb-3" style="margin: 5px 0px;">
            <label for="formFileMultiple" class="form-label"><b>上傳多個.txt文字檔</b></label>
            <input class="form-control" type="file" multiple accept=".txt,.csv">
        </div>
    </form>
    <div class="row">
        <div class="col-2">
            <button id="submitBtn" class="btn btn-outline-success btn-rounded">上傳</button>
            <button id="loadBtn" class="btn btn-outline-success btn-rounded" type="button" disabled
                style="display: none;">
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="vertical-align: baseline;"></span>
                上傳中...
            </button>
        </div>
        <div class="col-2">
            <button id="downloadBtn" class="btn btn-outline-primary btn-rounded" style="width: auto; display: none;">下載excel</button>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}