{% extends "base.html" %}
{% block styles %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/visualization.css') }}">
{% endblock %}
{% block title %}視覺化{% endblock %}
{% block content %}

<div class="row" style="background-color: #efefef; padding: 10px; margin: 10px 0px; border-radius: 10px;">
    <div class="col-5">
        <span><b>請選擇一個已轉換過的檔案</b></span><br>
        <span style="color: red;"><b>若未轉換過請先至<a href="/">轉檔</a>頁面轉換</b></span>
    </div>
    <div id="fileList" class="col-7 list-group" style="height: 200px; overflow-y: auto; padding: 5px 0px;">
        {% for file in files %}
        <button type="button" class="list-group-item list-group-item-action">{{ file }}</button>
        {% endfor %}
    </div>
</div>
<ul class="nav nav-tabs" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="GRF-tab" data-bs-toggle="tab" data-bs-target="#GRF" type="button" role="tab" aria-controls="GRF" aria-selected="true">GRF分析</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="stability-tab" data-bs-toggle="tab" data-bs-target="#stability" type="button" role="tab" aria-controls="stability" aria-selected="false">穩定平衡指數</button>
    </li>
</ul>
<div class="tab-content">
    <div class="tab-pane fade show active" id="GRF" role="tabpanel" aria-labelledby="GRF-tab">
        <div class="chart-block">
            <div class="d-flex align-items-center justify-content-end gap-3">
                <label for="d-end" class="mb-0">最後一筆索引</label>
                <input type="number" name="d-end" min="1" class="form-control form-control-sm w-auto">
                
                <span class="fw-bold">單位：</span>
                
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="unit" id="unitN" value="N" checked>
                    <label class="form-check-label" for="unitN">N</label>
                </div>
                
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="unit" id="unitBW" value="BW">
                    <label class="form-check-label" for="unitBW">Body Weight</label>
                </div>
            </div>
            
            <canvas id="lineChart"></canvas>
        </div>
        <div class="chart-block" id="loading-rate-block">
            <div class="row">
                <div class="col-1">
                    <span class="badge bg-info phase-title" style="font-size: 14px;"></span>
                </div>
                <span class="col-2" style="font-weight: bold;">最大值：<span class="max" style="font-weight: lighter;"></span></span>
                <span class="col-2" style="font-weight: bold;">最大值時間：<span class="time" style="font-weight: lighter;"></span></span>
                <span class="col-2" style="font-weight: bold;">最大值索引：<span class="max-index" style="font-weight: lighter;"></span></span>
                <span class="col-2" style="font-weight: bold;">負荷率：<span class="rate" style="font-weight: lighter;"></span></span>
            </div>
        </div>
        <div class="params-block" data-dataset-id="0" style="position: relative;">
            <div class="form-group row" style="align-items: end;">
                <p style="font-weight: bold;"><span class="badge bg-success phase-title" style="font-size: 14px"></span> 計算Fz面積(衝量)</p>
                <div class="col-2">
                    <p>測力板</p>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="1" checked>
                        <label class="form-check-label" for="1">第一塊</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" value="2">
                        <label class="form-check-label" for="2">第二塊</label>
                    </div>
                </div>
                <div class="col-2">
                    <label>第1筆資料索引</label>
                    <input type="number" name="start" min="1" class="form-control">
                </div>
                <div class="col-2">
                    <label>第2筆資料索引</label>
                    <input type="number" name="end" min="1" class="form-control">
                </div>
                <div class="col-2">
                    <button class="btn btn-outline-primary btn-rounded count-impulse-btn">計算</button>
                </div>
                <div class="col-4" style="font-weight: bold;">
                    <span class="impulse-text"></span>
                </div>
                <button type="button" class="btn btn-outline-danger delete-btn" style="width: auto; position: absolute; top: 5px; right: 5px;">
                    <i class="bi bi-x-lg"></i>
                    刪除
                </button>
            </div>
        </div>
        <div style="text-align: center; margin:10px 0">
            <button class="btn btn-outline-success btn-rounded" id="addBlockBtn" style="display: none">
                <i class="bi bi-plus-lg"></i>
                新增階段
            </button>
        </div>
    </div>
    <div class="tab-pane fade" id="stability" role="tabpanel" aria-labelledby="stability-tab">
        <div class="chart-block">
            <canvas id="scatterChart"></canvas>
        </div>
        <div class="chart-block stability-block">
            <div>
                <span class="badge bg-info no-title" style="font-weight: bold; font-size: 18px;"></span>
            </div>
            <div style="padding: 15px;">
                <span class="badge bg-primary" style="font-weight: bold; font-size: 14px;">靜態平衡</span>
                <div class="row" style="margin: 5px;">
                    <span class="col-4">COP VEL-total(mm/s)：<span class="VEL-total"></span></span>
                    <span class="col-4">COP VEL-AP(mm/s)：<span class="VEL-AP"></span></span>
                    <span class="col-4">COP VEL-ML(mm/s)：<span class="VEL-ML"></span></span>
                    <span class="col-4">COP AMP-AP(mm)：<span class="AMP-AP"></span></span>
                    <span class="col-4">COP AMP-ML(mm)：<span class="AMP-ML"></span></span>
                    <span class="col-4">COP AREA(mm<sup>2</sup>)：<span class="COP-area"></span></span>
                </div>
                <hr>
                <span class="badge bg-success" style="font-weight: bold; font-size: 14px;">動態平衡</span>
                <div class="row" style="margin: 5px;">
                    <span class="col-3">APSI：<span class="APSI"></span></span>
                    <span class="col-3">MLSI：<span class="MLSI"></span></span>
                    <span class="col-3">VSI：<span class="VSI"></span></span>
                    <span class="col-3">DPSI：<span class="DPSI"></span></span>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/visualization.js') }}"></script>
{% endblock %}